/* google font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* google font Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #a700ff, #4d19db);
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}

.btn {
  border: 2px solid #fff;
  padding: 6px 25px;
  border-radius: 30px;
  margin-left: 30px;
}

nav .btn:hover {
  background: #fff;
  color: #4d19db;
  font-weight: 500;
  transition: 0.1s;
}

.col-1 {
  flex-basis: 40%;
  min-width: 300px;
  margin-bottom: 30px;
  position: relative;
}
.col-2 {
  flex-basis: 55%;
  min-width: 300px;
  margin-bottom: 30px;
}
.col-1 img {
  width: 100%;
}

.elements {
  position: absolute;
  left: 0;
  top: 0;
  animation: move 2.5s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(-15px, 0px);
  }
  50% {
    transform: translate(0px, -15px);
  }
  100% {
    transform: translate(-15px, 0px);
  }
}

.triangle1 {
  position: absolute;
  left: 50%;
  top: -180px;
  transform: translate(-50%);
  width: 400px;
  z-index: -1;
  opacity: 0.7;
}
.triangle2 {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  z-index: -1;
  opacity: 0.7;
}
.circle {
  position: absolute;
  right: -180px;
  bottom: -300px;
  width: 500px;
  z-index: -1;
  opacity: 0.5;
}